
@font-face {
                          font-family: "SFProText-Medium";
                          src: url('../fonts/SF-Pro-Text-Medium.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "SFProText-Semibold";
                          src: url('../fonts/SF-Pro-Text-Semibold.otf') format("opentype");
                        }
                        
.useridpage {
  width               : 100%;
  /*min-width           : 1366px;*/
  height              : 100vh;
  /*min-height          : 1024px;*/
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(161, 205, 115, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.useridpage .panel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 589px;
  height              : 91px;
  width               : 313px;
  position            : absolute;
  margin              : 0;
  left                : 376px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .panel .rectangle4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 91px;
  width               : 313px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .panel1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 594px;
  height              : 59px;
  width               : 283px;
  position            : absolute;
  margin              : 0;
  left                : 707px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .panel1 .rectangle4 {
  background-color    : rgba(128, 128, 128, 1.0);
  top                 : 0px;
  height              : 59px;
  box-sizing          : border-box;
  width               : 283px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  border-style        : solid;
  border-width        : 2px;
  border-color        : rgba(255, 255, 255, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .login {
  border: none;
  background-color    : rgba(255,255,255,0.0);
  top                 : 609px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 497px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(65, 4, 252, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.useridpage .cancel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 609px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 809px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Medium", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.useridpage .panel2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 314px;
  height              : 198px;
  width               : 597px;
  position            : absolute;
  margin              : 0;
  left                : 391px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .panel2 .rectangle4 {
  background-color    : rgba(255, 255, 170, 1.0);
  top                 : 0px;
  height              : 198px;
  width               : 597px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .panel3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 422px;
  height              : 42px;
  width               : 374px;
  position            : absolute;
  margin              : 0;
  left                : 496px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .panel3 .rectangle4 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 42px;
  width               : 374px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 60px;
  width               : 72px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .group3 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .group3 .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : 37px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.useridpage .whatisyouruserid {
  background-color    : rgba(255,255,255,0.0);
  top                 : 349px;
  height              : auto;
  width               : 285px;
  position            : absolute;
  margin              : 0;
  left                : 556px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "SFProText-Semibold", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(59, 56, 56, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}